* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: white;
}

html,
body {
  width: 100%;
  background-color: black;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.hidden {
  display: none;
}

.page-container {
  display: flex;
  align-content: center;
}

.header,
.subheader {
  display: flex;
  justify-content: center;
}

.subheader {
  font-size: 12px;
}

.search-games,
.desktop-games {
  background-color: transparent;
  color: black;
  padding-left: 10px;
}

.search-param,
.desktop-param {
  border-style: solid;
  border-width: 1px;
  width: 200px;
  height: 50px;
  color: black;
  font-size: 25px;
}

.param-container {
  background-color: black;
  color: white;
}

.web-button {
  background-color: transparent;
}

.fa-searchengin {
  font-size: 30px;
  color: white;
}

.fa-bars {
  padding-left: 10px;
}

.button-styles > button {
  width: 100%;
  height: 50px;
}

.param-container {
  background-color: black;
  color: white;
}

#platform-container {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.all-shift {
  justify-items: center;
}

.checkbox-container {
  margin: 5px;
}

#game-filters {
  margin: 10px 0px 10px 10px;
  border-radius: 10px;
  min-height: 30px;
  min-width: 150px;
}

.web-page {
  width: 100%;
}

.web-list {
  display: flex !important;
  flex-flow: row wrap;
  justify-content: center;
}

.url-name {
  text-decoration: underline;
}

.url-name:hover {
  cursor: pointer;
}

.game-card {
  display: flex;
  flex-flow: column wrap;
  padding-top: 20px;
  color: white;
}

.game-border {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  border-style: solid;
  border-width: 2px;
  padding: 5px;
  width: 250px;
}

.game-clip {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.released {
  display: flex;
  justify-content: center;
}

.videolink > a {
  color: white;
  text-decoration: underline;
}

.no-clip {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 280px;
  height: 158px;
}

.game-name {
  font-size: 25px;
  font-weight: 900;
  display: flex;
  justify-content: center;
}

.game-space {
  height: 15px;
}

.hoverover:hover {
  cursor: pointer;
}

.contactinfo {
  color: white;
  width: 40px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important;
  z-index: 1;
  color: white;
}

.detailed-modal {
  height: auto !important;
  min-height: 100% !important;
  border-radius: 0 !important;
  background-color: #565656;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-header {
  padding: 10px;
}
.modal-body {
  padding: 10px;
}

.close {
  color: #ffffff;
  float: right;
  font-size: 40px;
  margin-right: 10px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #808080;
  text-decoration: none;
  cursor: pointer;
}

.flex-search {
  position: absolute;
  width: 0px;
  overflow-x: hidden;
  transition-delay: 0.1s;
}

.navDesktop {
  display: none;
}

.navBar {
  display: initial;
  width: 100%;
  height: 50px;
  font-size: 20px;
}

.navTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.closebtn {
  display: flex;
  justify-content: flex-end;
  font-size: 35px;
  padding-right: 10px;
}

.navList {
  height: 300px;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

.navName {
  color: black;
}

.linkMobile {
  display: flex;
  justify-content: flex-start;
  padding: 30px 0px 0px 15px;
}

.navLink {
  color: #ffffff;
}

.navLink:hover {
  cursor: pointer;
  color: #808080;
}

.youtubeLink {
  text-decoration: underline;
}

.wompwomp {
  padding-top: 20vh;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}

@media (min-width: 769px) {
  .navBar {
    display: none;
  }

  .game-card {
    padding-left: 10px;
  }

  .navDesktop {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
  }

  .listDesktop {
    display: flex;
    align-items: center;
  }

  .navLink {
    padding: 10px 30px 10px 0px;
  }

  .wompwomp {
    padding-top: 50px;
    font-size: 40px;
  }

  .search-games {
    padding-left: 10px;
    display: flex;
  }

  .web-button {
    padding-left: 10px;
  }
}
